.section-introduce {
  text-align: center;
}
.face-pic {
  margin: 0 auto;
}
/*此文件是颜色大小等样式*/
.section {
  background: rgba(34, 136, 195, 0.98);
}
.face-pic {
  background: url(../img/face.jpg) no-repeat;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #2196F3;
}
.personal-face {
  width: 200px;
  height: 200px;
  border: 10px solid #aee2d9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
