/*size*/
/*family*/
body {
  font-family: "Microsoft YaHei";
}
h1 {
  font-size: 3.5em;
}
h4 {
  font-size: 1.25em;
}
h6 {
  font-size: 1.1em;
}
/*页面2*/
.aboutme_title,
.skill_title,
.works_title,
.contact_title {
  font-size: 1.8em;
}
p {
  font-size: 1.1em;
}
.contact_content_topic li {
  font-size: 1.4em;
}
* {
  box-sizing: border-box;
}
.section {
  text-align: center;
}
/*section1*/
.face-pic {
  margin: 0 auto;
}
.title {
  margin: 0.25em 0 0 0;
}
.subtitle {
  margin: 1em 0 0.25em 0;
}
h6 {
  margin: 0 0 0.1em 0;
}
/*页面2相关*/
.section-aboutme .aboutme-contain {
  margin: 0 auto;
}
.section-aboutme .aboutme-contain .aboutme_title {
  margin-top: 150px;
}
.section-aboutme .aboutme-contain ul {
  display: flex;
  margin-top: 70px;
}
.section-aboutme .aboutme-contain ul li {
  flex: 1;
}
.section-aboutme .aboutme-contain ul li .li_pic {
  position: relative;
}
.section-aboutme .aboutme-contain ul li .li_pic:after {
  position: absolute;
  top: 0;
  left: 0;
}
.section-aboutme .aboutme-contain ul li .li_pic img {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -22.5px;
  margin-right: -22.5px;
}
.section-aboutme .aboutme-contain ul li .li_info {
  margin-top: 20px;
}
.section-aboutme .aboutme-contain .aboutme_info {
  margin-top: 50px;
}
/*section3相关样式*/
.skill_title {
  margin-top: 150px;
}
.skill_content {
  display: flex;
  margin-top: 70px;
}
.skill_content .skill_content_animate {
  flex: 1;
}
.skill_content .skill_content_info {
  flex: 1;
  padding-top: 20px;
  line-height: 24px;
}
/*作品集页面4*/
.works_title {
  margin-top: 100px;
}
.works_content {
  margin-top: 30px;
}
.works_content .content_top {
  margin-bottom: 20px;
}
.works_content .content_top li {
  margin: 0 20px;
}
.works_content .content_top .content_info {
  top: 0;
  left: 0;
}
.works_content .content_bottom li {
  margin: 0 20px;
}
.works_content .content_bottom .content_info {
  top: 0;
  left: 0;
}
/*页面四*/
.section-contact .contact_title {
  margin-top: 100px;
}
.section-contact .contact_content {
  margin: 0 auto;
  margin-top: 50px;
}
.section-contact .contact_content .contact_content_topic {
  display: flex;
}
.section-contact .contact_content .contact_content_topic li {
  flex: 1;
}
.section-contact .contact_content .content_info {
  margin-top: 30px;
}
.section-contact .contact_content .content_way {
  display: flex;
  margin-top: 100px;
}
.section-contact .contact_content .content_way li {
  flex: 1;
}
.section-contact .footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
/*此文件是颜色大小等样式*/
/*整体初始化*/
ul,
li,
div,
a {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*section1的相关样式*/
.section {
  color: #fff;
}
.section-introduce {
  background: #4f59d8;
}
.face-pic {
  background: url(../img/face.jpg) no-repeat;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #32347f;
}
.personal-face {
  width: 200px;
  height: 200px;
  border: 10px solid #aee2d9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
h1 {
  text-shadow: 1px 2px #22c3aa, 2px 4px #2196F3;
  text-align: center;
}
.subtitle {
  color: #aee2d9;
}
a {
  color: #aee2d9;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: #CDDC39;
}
/*第二部分的section*/
.section-aboutme {
  background: #3f51b5;
}
.section-aboutme .aboutme-contain {
  height: 100%;
  max-width: 800px;
}
.section-aboutme .aboutme-contain ul li {
  width: 100px;
}
.section-aboutme .aboutme-contain ul li .li_pic {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.section-aboutme .aboutme-contain ul li .li_pic:after {
  content: '';
  position: absolute;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.section-aboutme .aboutme-contain ul li .li_pic:hover {
  background: rgba(255, 255, 255, 0.05);
  -webkit-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}
.section-aboutme .aboutme-contain ul li .li_pic:hover:after {
  -webkit-animation: effect 1.3s ease-out 75ms;
  animation: effect 1.3s ease-out 75ms;
}
.section-aboutme .aboutme-contain ul li .li_pic img {
  width: 50%;
  height: 50%;
}
@-webkit-keyframes effect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3F51B5, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3F51B5, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes effect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3F51B5, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3F51B5, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
/*页面三*/
.section-skill {
  background: #4d5e8f;
}
.section-skill_contain {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.section-skill_contain .skill_content_animate {
  padding: 5px;
  position: relative;
  font-size: 12px;
  color: #FFF;
}
.section-skill_contain .skill_content_animate .out-circle {
  width: 242px;
  height: 242px;
  border: 4px dashed #999;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.section-skill_contain .skill_content_animate .out-circle li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 50px;
}
.section-skill_contain .skill_content_animate .out-circle .out:nth-child(1) {
  background-color: rgba(71, 83, 94, 0.8);
  -webkit-animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
}
.section-skill_contain .skill_content_animate .out-circle .out:nth-child(2) {
  background: rgba(121, 100, 102, 0.8);
  -webkit-animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -6s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -2s infinite alternate;
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -6s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -2s infinite alternate;
}
.section-skill_contain .skill_content_animate .out-circle .out:nth-child(3) {
  background: rgba(117, 148, 179, 0.8);
  -webkit-animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate;
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate;
}
.section-skill_contain .skill_content_animate .out-circle .out:nth-child(4) {
  background: rgba(76, 157, 160, 0.8);
  -webkit-animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -6s infinite alternate;
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -6s infinite alternate;
}
.section-skill_contain .skill_content_animate .out-circle .out:nth-child(5) {
  background: rgba(193, 131, 106, 0.8);
  -webkit-animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate;
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate;
}
.section-skill_contain .skill_content_animate .out-circle .out:nth-child(6) {
  background: rgba(171, 209, 220, 0.8);
  -webkit-animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -14s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate;
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -14s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate;
}
.section-skill_contain .skill_content_animate .out-circle .out:nth-child(7) {
  background: rgba(238, 215, 163, 0.8);
  -webkit-animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -16s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate;
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -16s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate;
}
.section-skill_contain .skill_content_animate .out-circle .out:nth-child(8) {
  background: rgba(66, 66, 66, 0.8);
  -webkit-animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -18s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -14s infinite alternate;
  animation: outX 8s cubic-bezier(0.36, 0, 0.64, 1) -18s infinite alternate, outY 8s cubic-bezier(0.36, 0, 0.64, 1) -14s infinite alternate;
}
.section-skill_contain .skill_content_animate .in-circle {
  width: 142px;
  height: 142px;
  border: 4px dashed #999;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.section-skill_contain .skill_content_animate .in-circle li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 40px;
}
.section-skill_contain .skill_content_animate .in-circle .in:nth-child(1) {
  background: rgba(71, 83, 94, 0.8);
  -webkit-animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
  animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
}
.section-skill_contain .skill_content_animate .in-circle .in:nth-child(2) {
  background: rgba(171, 209, 220, 0.8);
  -webkit-animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate;
  animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate;
}
.section-skill_contain .skill_content_animate .in-circle .in:nth-child(3) {
  background-color: rgba(121, 100, 102, 0.8);
  -webkit-animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate;
  animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate;
}
.section-skill_contain .skill_content_animate .in-circle .in:nth-child(4) {
  background-color: rgba(238, 215, 163, 0.8);
  -webkit-animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -16s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate;
  animation: innerX 8s cubic-bezier(0.36, 0, 0.64, 1) -16s infinite alternate, innerY 8s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate;
}
/*动画效果*/
@-webkit-keyframes outY {
  0% {
    top: -27px;
  }
  100% {
    top: 217px;
  }
}
@keyframes outY {
  0% {
    top: -27px;
  }
  100% {
    top: 217px;
  }
}
@-webkit-keyframes outX {
  0% {
    left: -27px;
  }
  100% {
    left: 217px;
  }
}
@keyframes outX {
  0% {
    left: -27px;
  }
  100% {
    left: 217px;
  }
}
@-webkit-keyframes innerX {
  0% {
    left: -22px;
  }
  100% {
    left: 122px;
  }
}
@keyframes innerX {
  0% {
    left: -22px;
  }
  100% {
    left: 122px;
  }
}
@-webkit-keyframes innerY {
  0% {
    top: 122px;
  }
  100% {
    top: -22px;
  }
}
@keyframes innerY {
  0% {
    top: 122px;
  }
  100% {
    top: -22px;
  }
}
/*第四个页面*/
.section-works {
  background: #945c4c;
}
.section-works .section-works_contain {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-works .section-works_contain .works_content {
  max-width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.section-works .section-works_contain .works_content .content_top {
  flex: 1;
  display: flex;
}
.section-works .section-works_contain .works_content .content_top li {
  flex: 1;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  transition: all 1s ease;
}
.section-works .section-works_contain .works_content .content_top li img {
  width: 360px;
  height: 190px;
  border-radius: 10px;
}
.section-works .section-works_contain .works_content .content_top li .content_info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  line-height: 190px;
  border-radius: 10px;
  opacity: 0;
  transition: all 1s ease;
}
.section-works .section-works_contain .works_content .content_top li:hover .content_info {
  opacity: 0.71;
}
.section-works .section-works_contain .works_content .content_top li:hover {
  transform: scale(1.05);
}
.section-works .section-works_contain .works_content .content_bottom {
  flex: 1;
  display: flex;
}
.section-works .section-works_contain .works_content .content_bottom li {
  flex: 1;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  transition: all 1s ease;
}
.section-works .section-works_contain .works_content .content_bottom li img {
  width: 360px;
  height: 190px;
  border-radius: 10px;
}
.section-works .section-works_contain .works_content .content_bottom li .content_info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  line-height: 190px;
  border-radius: 10px;
  opacity: 0;
  transition: all 1s ease;
}
.section-works .section-works_contain .works_content .content_bottom li:hover .content_info {
  opacity: 0.71;
}
.section-works .section-works_contain .works_content .content_bottom li:hover {
  transform: scale(1.05);
}
/*第四个页面*/
/*.section-contact{
	background:#a29971;
	.section-contact_contain{
		height:100%;
		max-width:1200px;
		.contact_content{
			width:300px;
			height:500px;
			background:#569;
			.contact_content_topic{
				li:nth-child(1){
					color:#f00;
				}
				li:nth-child(2){
					color:#3cf;
				}
				li:nth-child(3){
					color:#6c0;
				}
				li:nth-child(4){
					color:#f63;
			}
			.content_way{
				width:100px;
				height:100px;
				background:#ddd;
			}
		}

		
		}
	}
}*/
.section-contact {
  background: #a29971;
}
.section-contact .section-contact_contain {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-contact .section-contact_contain .contact_content {
  width: 300px;
}
.section-contact .section-contact_contain .contact_content .contact_content_topic li:nth-child(1) {
  color: #f00;
}
.section-contact .section-contact_contain .contact_content .contact_content_topic li:nth-child(2) {
  color: #3cf;
}
.section-contact .section-contact_contain .contact_content .contact_content_topic li:nth-child(3) {
  color: #6c0;
}
.section-contact .section-contact_contain .contact_content .contact_content_topic li:nth-child(4) {
  color: #f63;
}
.section-contact .section-contact_contain .contact_content .content_way li {
  border-radius: 50%;
  border: 1px solid #FFF;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 10px;
}
.section-contact .section-contact_contain .contact_content .content_way li a img {
  width: 65%;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
}
.section-contact .section-contact_contain .footer {
  height: 100px;
}
